.secureTrading {
  margin-top: 48px;
  width: 100%;
  border-radius: 20px;
  background: var(--Landing-Gradients-holo, linear-gradient(129deg, #fac8ff 0%, #c8ffee 33%, #e9ff44 66%, #35ebff 100%));
  padding: 4px;
}

.tradingContent {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px;
  flex-wrap: wrap;
}

.tradingVisual {
  flex: 1;
  min-width: 240px;
  width: 412px;
  height: 300px;
  border-radius: 8px;
  background-color: rgba(246, 246, 246, 1);
}

.tradingInfo {
  flex: 1;
  min-width: 240px;
  display: flex;
  flex-direction: column;
}

.tradingTitle {
  color: var(--dark-1000, #000);
  font: 700 38px var(--Font-Titles, Syne);
}

.tradingDescription {
  color: var(--dark-1000, #000);
  margin-top: 32px;
  font: 400 24px var(--Font-Body, Syne);
}

.actionArea {
  display: flex;
  margin-top: 32px;
  gap: 16px;
}

.tradeButton {
  border-radius: 100px;
  background-color: rgba(103, 67, 238, 1);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--light, #fff);
  padding: 8px 16px;
  font: 400 24px var(--Font-Body, Syne);
  border: none;
  cursor: pointer;
}

.buttonIcon {
  width: 24px;
  height: 24px;
}

.mobileOptimized {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 32px;
  border: 1px dashed rgba(0, 0, 0, 1);
  border-radius: 8px;
}

.mobileIcon {
  width: 24px;
  height: 24px;
}

@media (max-width: 991px) {
  .secureTrading {
    margin-top: 40px;
  }

  .tradingContent,
  .tradingInfo {
    max-width: 100%;
  }

  .mobileOptimized {
    padding: 8px 20px;
  }
}