.wrapperList {
  position: relative;
  overflow: hidden;
}

.wrapperList::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  width: 188px;
  background: linear-gradient(90deg, #000000 0%, rgba(0,0,0, 0) 100%);
}

.wrapperList::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  width: 188px;
  background: linear-gradient(270deg, #000000 0%, rgba(0,0,0, 0) 100%);
}

.list {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 24px;
  width: calc(100% + 24px);
  max-width: 3198px;
  z-index: 1;
  animation: moveList 20s cubic-bezier(0.65, 0.1, 0.65, 1) infinite;
}

@keyframes moveList {
  0% {
    transform: translateX(187px);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(187px);
  }
  100% {
    transform: translateX(187px);
  }
}

@media screen and (max-width: 1280px) {
  @keyframes moveList {
    0% {
      transform: translateX(87px);
    }
    25% {
      transform: translateX(-155%);
    }
    50% {
      transform: translateX(-155%);
    }
    75% {
      transform: translateX(87px);
    }
    100% {
      transform: translateX(87px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapperList::before {
    width: 138px;
  }
  
  .wrapperList::after {
    width: 138px;
  }

  @keyframes moveList {
    0% {
      transform: translateX(57px);
    }
    25% {
      transform: translateX(-215%);
    }
    50% {
      transform: translateX(-215%);
    }
    75% {
      transform: translateX(57px);
    }
    100% {
      transform: translateX(57px);
    }
  }
}

@media screen and (max-width: 680px) {
  .wrapperList::before {
    width: 98px;
  }
  
  .wrapperList::after {
    width: 98px;
  }

  @keyframes moveList {
    0% {
      transform: translateX(20px);
    }
    25% {
      transform: translateX(-215%);
    }
    50% {
      transform: translateX(-215%);
    }
    75% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(20px);
    }
  }
}