:root {
  --background: #ffffff;
  --text: #000000;
}

[data-theme='dark'] {
  --background: #000000;
  --text: #ffffff;
}

body {
  margin: 0;
  padding-top: 72px; /* Высота header */
  background: var(--background);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 